<h1>Taxi Xpress</h1>
<p>Seguridad y confianza en cualquier momento</p>
<h2>Bienvenidos a Taxi Xpress</h2>
<p> Taxi express es un una empresa que brinda el servicio de transporte al público en general así como a clientes corporativos.
    Nuestra razón de ser es el cliente, buscamos ofrecer puntualidad, comodidad, y eficiencia en cada servicio que realizamos.
    
<p> “Taxi Xpress” es un servicio que mediante una aplicación proveerá tanto a los clientes, como al personal de 
atención al usuario, una interfaz amigable, sencilla, y rápida; poder acceder desde internet a los servicios 
que presta la empresa  como por ejemplo proporcionar al cliente el costo del viaje de acuerdo a su ubicación y destino, 
tipo de pago favorito, características del servicio, confirmación del servicio, crear lista de direcciones favoritas, etc. 
Y por el lado de la empresa permite al operador de la central asignar vehículos para los servicios, y poder 
visualizar el feedback de los servicios realizados. Así mismo para los choferes poder ver sus servicios ejecutados 
y su retroalimentación.
</p>
<h2>Objetivo</h2>
<p>Nuestro objetivo es distinguirnos con su preferencia ofreciéndole un servicio rápido, eficaz y confiable los 365 días 
del año, las 24 horas del día. Nuestro servicio es tanto para personas naturales como para corporativos, exclusivamente para que usted disfrute de un trato
personalizado y agradable.</p>
<!--<%= link_to 'Clientes' , clientes_path %></p>-->
