<!DOCTYPE>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Free Web Templates</title>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<link href="default.css" rel="stylesheet" type="text/css" />
<style type="text/css">
body,td,th {color: #000;}
</style>
</head>
<body>
<div id="header">
	<h1><a href=<%= root_path %>><em>Taxi Xpress</em></a>	</h1>
</div>
<div style="clear:both"></div>
<div id="content"><div class="inner_copy"></div>
	<div><img src="<%= asset_path 'img4.jpg' %>" alt="" /></div>
	 <%= yield %>
	<div style="clear:both"></div>
</div>
<div id="footer">
	<div class="fleft"><p>Copyright statement.</p></div><div class="fright"><p>&nbsp;</p></div><div class="fclear"></div><div class="fcenter"><p>&nbsp;</p></div>
</div>
</body>
</html>
