<h1>Servicios</h1>
<p>Servicios</p>
<p>Taxi Puntual le ofrece un servicio totalmente personalizado y adaptado a sus necesidades.
Contamos con tarifas y créditos corporativos. Nuestra flota es permanentemente renovada y nuestros pilotos capacitados visten uniforme. Atención 7x24.
Ademas Taxi Puntual le ofrece la mejor atencion:</p>
    <ul>
				<li>Traslados al/del aeropuerto.</li>
				<li>Servicio por horas.</li>
				<li>City Tour.</li>
				<li>Servicio Courier.</li>
				<li>Servicio ejecutivo y remisse.</li>
				<li>Traslados a provincia.</li>
			</ul>
	
<p>Servicio Inmediato con Atención 24 Horas
en todo Lima Aeropuerto - Remisse</p>
<!--<p><%= link_to 'Clientes' , clientes_path %></p>-->
